.mainsubscriptiondiv{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #111111;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 700px;
    pointer-events: none;
}
.maindivpurchase{
    -webkit-text-size-adjust: 100%;
    text-align: center;
    box-sizing: border-box;
    color: inherit;
    display: table;
    align-self: flex-start;
    flex-shrink: 0;
    word-wrap: break-word;
    position: relative;
    padding: 0;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Arial, sans-serif !important;
    font-weight: 700;
    margin: 55px auto 0;
    pointer-events: initial;
}
.sharpesticons{
    -webkit-text-size-adjust: 100%;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #111111;
    box-sizing: border-box;
    padding: 0;
    display: table;
    align-self: flex-start;
    flex-shrink: 0;
    word-wrap: break-word;
    position: relative;
    font-size: 1.5rem;
    margin: 8px auto 0;
    pointer-events: initial;
}
.gutter16{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #111111;
    box-sizing: border-box;
    position: relative;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-shrink: 0;
    margin-top: 32px;
    margin-bottom: 55px;
    pointer-events: initial;
    
}
.ugutterlayout{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #111111;
    pointer-events: initial;
    box-sizing: border-box;
    margin: -8px;
    
}
.planbox{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    pointer-events: initial;
    box-sizing: border-box;
    max-height: 100%;
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
    text-align: center;
    background-color: transparent !important;
    opacity: 1;
    border-radius: 10px !important;
    color: #111111;
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 476px;
    border: 8px solid transparent;
    margin-left: 15%;

}
.planboxchild{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    pointer-events: initial;
    text-align: center;
    color: #111111;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
    border-width: 2px;
    border-color: #e5e5e5;
    stroke: none;
    border-radius: 10px !important;
    padding: 30px;
}
.starterhr{
    -webkit-text-size-adjust: 100%;
    pointer-events: initial;
    text-align: center;
    stroke: none;
    box-sizing: border-box;
    color: inherit;
    font-family: Roboto,sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    display: table;
    align-self: flex-start;
    flex-shrink: 0;
    word-wrap: break-word;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0 auto;
}
.freehr{
    -webkit-text-size-adjust: 100%;
    pointer-events: initial;
    text-align: center;
    stroke: none;
    box-sizing: border-box;
    color: inherit;
    display: table;
    align-self: flex-start;
    flex-shrink: 0;
    word-wrap: break-word;
    position: relative;
    padding: 0;
    line-height: 1.1;
    font-family: Montserrat, sans-serif !important;
    font-size: 3.125rem;
    font-weight: 700;
    background-image: none;
    margin: 8px auto 0;
}
.permonthhr{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    pointer-events: initial;
    text-align: center;
    color: #111111;
    stroke: none;
    box-sizing: border-box;
    padding: 0;
    flex-shrink: 0;
    word-wrap: break-word;
    position: relative;
    width: 168px;
    font-style: italic;
    margin: 8px auto 0;
}
.userspara{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-family: 'Open Sans',sans-serif;
    pointer-events: initial;
    text-align: center;
    color: #111111;
    stroke: none;
    box-sizing: border-box;
    padding: 0;
    flex-shrink: 0;
    word-wrap: break-word;
    position: relative;
    line-height: 2;
    margin: 17px 11px 0;
}
.subscribebuttonbox{
    -webkit-text-size-adjust: 100%;
    pointer-events: initial;
    stroke: none;
    box-sizing: border-box;
    display: table;
    cursor: pointer;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    align-self: flex-start;
    position: relative;
    flex-shrink: 0;
    border-radius: 50px !important;
    border-width: 0;
    color: #ffffff !important;
    background-color: #21bedf !important;
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px auto 0;
}
.u-layout-row{
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #111111;
    pointer-events: initial;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}